* {
  padding: 0;
  margin: 0;
}





/******************************** PROBANDO GRIDS **********************************-*/
/******************************** PROBANDO GRIDS *********************************-*/
/******************************** PROBANDO GRIDS **********************************-*/


html {
  height: 100%;
}

body {
  min-height: 100%;
}

.grid-container>* {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: pink;


}

.headerLogo {
  display: flex;
  height: 80px;
  align-items: center;
}

.navbar {
  grid-area: navbar;
  background-color: aqua;
}

.main {
  grid-area: main;
  background-color: cadetblue;
}

.sidebar {
  grid-area: sidebar;
  background-color: bisque;
}

.footer {
  grid-area: footer;
  background-color: cornflowerblue;
}

/******************** --------------------------TAMAÑO CEL------------- ------------- ******************/

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 100px
    "navbar" 50px
    "main" auto
    "sidebar" 100px
    "footer" 100px;
}


/************************** HEADER *****************/
.header {
  position: sticky;
  top: 0;


}

.itemList {
  display: inline-block;
  margin: 3%;
  justify-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: solid red;
  font-family: 'Noto Sans JP', sans-serif;
}

.sublist {
  display: none;
  position: absolute;
  font-family: 'Noto Sans JP', sans-serif;
}

.headerMenu {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  height: 8vh;
  font-family: 'Noto Sans JP', sans-serif;
}


.headerList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: small;

}

.sublist {
  display: none;
  position: absolute;
  color: black;
}

.itemSubmenu:hover>.sublist {
  display: block;
}

.headerLogo {
  height: 60px;
  margin: 1px;
  border: 5px solid #ebd5e3;

}

/******************** FOOTER *******************/

.footer {
  background-color: pink;
  top: 0;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;


}

.footerList {
  display: inline-block;
  margin: 5%;
  justify-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: small;
}

.footerLogo {
  height: 80px;
  margin: 10px;
  border: 5px solid #ebd5e3;
}


/************************** CAROUSEL *************************/

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-top: 10px;
  width: 50%;
  height: 100px;
  border: 5px solid #ebd5e3;
}

b {
  color: red;
}


.titulo-carousel {
  font-family: 'Noto Sans JP', sans-serif;


}

.carousel-wrapper {
  height: 400px;
  position: relative;
  width: 90%;
  margin: 20px auto;
  border: 5px solid #ebd5e3;
  font-family: 'Noto Sans JP', sans-serif;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}

@media (max-width: 480px) {

  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}


[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
  background-size: cover;
}

.item-2 {
  background: url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
  background-size: cover;
}

.item-3 {
  background: url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
  background-size: cover;
}

*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
  z-index: 3;
  opacity: 1;
}


/******************************** MAIN **************************/

.seccionMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.seccion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}



.seccion2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;

}

.imagen1 {
  width: 500px;
  height: 250px;

}

.imagen2 {
  width: 500px;
  height: 250px;
}



/**************** --------------------------TAMAÑO TABLET -------------------------- *****************/

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    /*
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "sidebar main"
    "footer footer"; */

    grid-template:
      "header header" 100px
      "navbar navbar" 50px
      /* ALTO */
      "sidebar main" auto
      "footer footer" 100px /
      200px auto;
    /*ANCHO */
  }

  /************************** HEADER *****************/
  .header {
    position: sticky;
    top: 0;


  }

  .itemList {
    display: inline-block;
    margin: 3%;
    justify-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: solid red;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .sublist {
    display: none;
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .headerMenu {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    height: 8vh;
    font-family: 'Noto Sans JP', sans-serif;
  }


  .headerList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end
  }

  .sublist {
    display: none;
    position: absolute;
    color: black;
  }

  .itemSubmenu:hover>.sublist {
    display: block;
  }

  .headerLogo {
    height: 80px;
    margin: 10px;
    border: 5px solid #ebd5e3;

  }

  /******************** FOOTER *******************/

  .footer {
    background-color: pink;
    top: 0;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;


  }

  .footerList {
    display: inline-block;
    margin: 5%;
    justify-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: small;
  }

  .footerLogo {
    height: 80px;
    margin: 10px;
    border: 5px solid #ebd5e3;
  }


  /************************** CAROUSEL *************************/

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    border: 5px solid #ebd5e3;
  }

  b {
    color: red;
  }


  .titulo-carousel {
    font-family: 'Noto Sans JP', sans-serif;


  }

  .carousel-wrapper {
    height: 400px;
    position: relative;
    width: 90%;
    margin: 20px auto;
    border: 5px solid #ebd5e3;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }

  .arrow-prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }

  .arrow-next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .light {
    color: white;
  }

  @media (max-width: 480px) {

    .arrow,
    .light .arrow {
      background-size: 10px;
      background-position: 10px 50%;
    }
  }


  [id^="item"] {
    display: none;
  }

  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
    background-size: cover;
  }

  .item-2 {
    background: url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
    background-size: cover;
  }

  .item-3 {
    background: url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
    background-size: cover;
  }

  *:target~.item-1 {
    opacity: 0;
  }

  #item-1:target~.item-1 {
    opacity: 1;
  }

  #item-2:target~.item-2,
  #item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
  }


  /******************************** MAIN **************************/

  .seccionMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .seccion1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
  }



  .seccion2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;

  }

  .imagen1 {
    width: 500px;
    height: 250px;

  }

  .imagen2 {
    width: 500px;
    height: 250px;
  }
}

/**************** ------------------------------ DESKTOP-------------------------- ******************/

@media (min-width: 1024px) {
  .grid-container {
    grid-template:
      "header   header   header" 10vh
      "navbar   main     sidebar" auto
      "footer   footer   footer" 10vh /
      200px auto 200px;

  }

  /************************** HEADER *****************/
  .header {
    position: sticky;
    top: 0;


  }

  .itemList {
    display: inline-block;
    margin: 3%;
    justify-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: solid red;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .sublist {
    display: none;
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .headerMenu {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    height: 8vh;
    font-family: 'Noto Sans JP', sans-serif;
  }


  .headerList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end
  }

  .sublist {
    display: none;
    position: absolute;
    color: black;
  }

  .itemSubmenu:hover>.sublist {
    display: block;
  }

  .headerLogo {
    height: 80px;
    margin: 10px;
    border: 5px solid #ebd5e3;

  }

  /******************** FOOTER *******************/

  .footer {
    background-color: pink;
    top: 0;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;


  }

  .footerList {
    display: inline-block;
    margin: 5%;
    justify-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: small;
  }

  .footerLogo {
    height: 80px;
    margin: 10px;
    border: 5px solid #ebd5e3;
  }


  /************************** CAROUSEL *************************/

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 10px;
    width: 50%;
    height: 100px;
    border: 5px solid #ebd5e3;
  }

  b {
    color: red;
  }


  .titulo-carousel {
    font-family: 'Noto Sans JP', sans-serif;


  }

  .carousel-wrapper {
    height: 400px;
    position: relative;
    width: 90%;
    margin: 20px auto;
    border: 5px solid #ebd5e3;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
  }

  .arrow-prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }

  .arrow-next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .light {
    color: white;
  }

  @media (max-width: 480px) {

    .arrow,
    .light .arrow {
      background-size: 10px;
      background-position: 10px 50%;
    }
  }


  [id^="item"] {
    display: none;
  }

  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
    background-size: cover;
  }

  .item-2 {
    background: url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
    background-size: cover;
  }

  .item-3 {
    background: url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
    background-size: cover;
  }

  *:target~.item-1 {
    opacity: 0;
  }

  #item-1:target~.item-1 {
    opacity: 1;
  }

  #item-2:target~.item-2,
  #item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
  }


  /******************************** MAIN **************************/

  .seccion1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .seccion2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;

  }

  .imagen1 {
    width: 700px;
    height: 400px;

  }

  .imagen2 {
    width: 700px;
    height: 400px;
  }

}


/* FOOTER PARA LAS PAGS QUE NO TIENEN GRIDS */

footer {
  background-color: pink;
  top: 0;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;


}

.footerList {
  display: inline-block;
  margin: 3%;
  justify-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.footerLogo {

  margin: 10px;
  border: 5px solid #ebd5e3;
}


.formulario {
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;

}

/*****************************************/